* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #343a40;
  min-height: 100vh;
  width: 100%;
}

.preview-card-component {
  padding: 6.4rem;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 100rem;
}

.card-component-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 1.8rem;
  overflow: hidden;
}

.img-svg {
  margin-bottom: 3.2rem;
}

.primary-header {
  margin-bottom: 3.2rem;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 3.6rem;
  color: #f2f2f2;
  line-height: 1.2;
}

.text-content {
  margin-bottom: 11.2rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #ffffffbf;
  line-height: 1.8;
}
.sedan-component {
  background-color: #e38826;
  padding: 4.8rem 7.8rem 4.8rem 4.8rem;
}

.suv-component {
  background-color: #006970;
  padding: 4.8rem 5.8rem 4.8rem 5rem;
}

.luxury-component {
  background-color: #004241;
  padding: 4.9rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #f2f2f2;
  text-decoration: none;
  padding: 1.4rem 2.8rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  border-radius: 5rem;
  transition: all 0.3s;
}

.btn--sedan:link,
.btn--sedan:visited {
  color: #e38826;
}

.btn--suvs:link,
.btn--suvs:visited {
  color: #006970;
}

.btn--luxury:link,
.btn--luxury:visited {
  color: #002827;
}

.btn:hover,
.btn:active {
  cursor: pointer;
  color: #f2f2f2;
  /* border: 1px solid #f2f2f2; */
  box-shadow: inset 0 0 0 2px #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 2px #f2f2f2;
}

.btn--sedan:hover,
.btn--sedan:active {
  background-color: #e38826;
}

.btn--suvs:hover,
.btn--suvs:active {
  background-color: #006970;
}

.btn--luxury:hover,
.btn--luxury:active {
  background-color: #004241;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 6.5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  
}
